# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
.pytest_cache/
.pytest-tmp/
pytest_cache/
pytest_tmp/
pytest-cache-files-*/
.ruff_cache/
tests/test-output/

# IDE
.idea/
.vscode/
*.swp
